@font-face {
  font-family: 'DungGeunMo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body, html {
  margin: 0;
  background-color: #000;
  text-align: center;
  user-select: none;
}

body {
  font-family: 'DungGeunMo';
  background-image: url("./background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
p {
  margin: 0;
}

#enemy {
  position: absolute;
  right: 8%;
  top: 4%;
  width: 40%;
  filter: drop-shadow(20px 0px 8px #000a);
  z-index: 1;
}

#team {
  position: absolute;
  left: 8%;
  bottom: -32%;
  width: 50%;
  filter: drop-shadow(20px 0px 8px #000a);
  z-index: 3;
}

#enemy-hp {
  position: absolute;
  left: 8%;
  top: 4%;
  width: 40%;
  text-align: left;
  padding: 20px;
  background-color: white;
  color: black;
  border-radius: 20px;
  font-size: 16pt;
  z-index: 5;
}

#enemy-hp-bar {
  height: 10px;
  background: #f00;
  margin-top: 10px;
}

#team-hp {
  position: absolute;
  right: 8%;
  bottom: 35%;
  width: 40%;
  text-align: left;
  padding: 20px;
  background-color: white;
  color: black;
  border-radius: 20px;
  font-size: 16pt;
  z-index: 5;
}

#team-hp-bar {
  height: 10px;
  background: #f00;
  margin-top: 10px;
}

#frame {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 24%;
  bottom: 8%;
  left: 2.5%;
  z-index: 5;
  font-size: 18pt;
  gap: 5px;
}

#dialogue {
  display: flex;
  vertical-align: middle;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: black;
  border-radius: 20px;
  width: 100%;
}

#sides {
  display: flex;
  flex-direction: column;  
  justify-content: space-between;
  gap: 5px;
}

.selectable {
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 40px;
  background-color: white;
  color: black;
  border-radius: 20px;
}

.shake {
  display: inline-block;
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-100px); }
  40% { transform: translateX(100px); }
  60% { transform: translateX(-100px); }
  80% { transform: translateX(100px); }
  100% { transform: translateX(0px); }
}

.hidden { display: none; }

#start {
  padding: 20px;
}

.startas {
  padding: 100px 0px;
  margin-top: 20px;
  background-color: #0009;
  color: white;
  font-size: 36pt;
}

#game {
  padding: 20px;
}

#finding {
  color: white;
  font-size: 18pt;
  filter: drop-shadow(0px 0px 5px #000);
}

#book p {
  color: white;
  font-size: 18pt;
}

#book {
  margin-top: 20px;
  padding: 20px;
  background-color: #0009;
}

.bookline {
  display: flex;
  width: 100%;
}

.bookline img {
  flex: 1 1 0;
  min-width: 0;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.darkshil {
  filter: brightness(0);
}