body {
  background: radial-gradient(circle at top left,
    #3B2B9D 0%,
    #3B647E 18%,
    #3B7972 18%,
    #3B2B9D 76%,
    #3B4F8A 76%,
    #3B667C 100%
  );
}

.header {
  width: 100%;
  padding: 64px 0 48px 0;
  background: linear-gradient(to bottom, #000c, #0000 50%);
  background-size: 100% 200%;
  background-position: 50% 0%;

  display: flex;
  flex-direction: column;
  align-items: center;
  animation: headerGradient 3s ease-in-out infinite alternate;
}

.header img {
  margin-bottom: 10px;
}

.theme {
  width: 100%;
  padding: 4px 48px;
  background: #0002;
  color: #fff;
  text-align: center;
  text-shadow: 5px 0 0 0 #0002;
  font-weight: 800;
  font-size: 24;
}

@keyframes headerGradient {
  from { background-position: 50% 0%; }
  to { background-position: 50% 50%; }
}

.matches {
  margin-bottom: 50px;
  width: 100%;
  padding: 24px 0px;
  background: #0002;
  color: #fff;
}

.match {
  margin-bottom: 10px;
  width: 100%;
  padding: 8px 0px;
  background: #0002;
  color: #fff;
}

.match .row {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  justify-content: center;
}

.match .team {
  font-weight: 400;
  padding: 0px 40px;
  border-left: 1px solid #fff2;
  border-right: 1px solid #fff2;
}

.match .score {
  font-weight: 800;
  padding: 0px 10px;
  border-left: 1px solid #fff2;
  border-right: 1px solid #fff2;
}

.match .title {
  font-weight: 400;
  font-size: 10pt;
  color: #fff8
}

.match .date {
  font-weight: 400;
  font-size: 8pt;
  margin-bottom: 4px;
  color: #fff5
}

.background button {
  padding: 2px 8px;
  margin: 0px 10px;
  border: 0;
  background-color: #0002;
  color: white;
  font-size: 0.9rem;

  transition: background-color 0.2s ease, color 0.5s ease;
  cursor: pointer;
}

.background button:disabled,
.background button:disabled:hover {
  color: #fff2;
  background-color: #0002;
  cursor: not-allowed;
}

.background button:hover {
  color: #000;
  background-color: #fff;
}

.match .blue {
  color: #79ccff;
}

.match .red {
  color: #ff7e89;
}

.match .pickem {
  width: 100%;
  height: 5px;
  margin-top: 12px;
  background: linear-gradient(to right, #79ccff 50%, #ff7e89 50%);
}

.form div {
  margin-bottom: 10px;
  width: 100%;
  padding: 8px 0px;
  background: #0002;
  color: #fff;
}

.form input {
  background: #0002;
  color: #fff;

  margin-right: 5px;
  padding: 5px 10px;
  width: 200px;

  border: 0;
  outline: none;
}

.form input,
.form input::placeholder {
  font-size: 12pt;
}

.form input::placeholder {
  color: #fff8;
}